{% extends 'jijblogformat.html' %}
{% block title %}My Anime List{% endblock title %}

{% block heading %}
    My Anime List
{% endblock heading %}

{% block info %}1 min Read{% endblock info %}

{% block para %}
    
    <strong class="text-primary text-2xl font-Plex pt-4 block">Watched</strong>
    Demon Slayer<br>
    Deathnote<br>
    Monster<br>
    Classroom Of The Elite<br>
    Spy X Family<br>
    Kaguya Sama: Love is war<br>
    Your Name<br>

    <strong class="text-primary text-2xl font-Plex pt-4 block">Want to watch</strong>
    AoT<br>
    Suzune<br>
    Skip And Loafer<br>
    Vinland Saga<br>
    Blue Eye Samurai<br>
    Frieren<br>
    Solo Leveling<br>

{% endblock para %}
