{% extends 'jijblogformat.html' %}
{% block title %}Project Name Ideas{% endblock title %}

{% block heading %}
    Project Name Ideas
{% endblock heading %}

{% block info %}2 min Read Inspired by <a href="https://xithrius.cloud/posts/project-names" class="text-primary underline underline-primary font-bold" target="_blank">Xith's blog</a>{% endblock info %}

{% block para %}
    
    <strong class="text-secondary underline underline-secondary text-2xl font-Plex pt-4 block">Disclaimer</strong>
    <span class="text-md font-Plex block">I do not own any of the enlisted names, neither do I know if anyone already uses them, so please be kind and let me know if any of them is already a trademark or in use. If not, feel free to modify them, get creative with the names, suggest you own while making sure they aren't already in use. Although, I suggest to use these for open source projects and not for branding.</span>

    <strong class="text-primary text-2xl font-Plex pt-4 block">Scientific Names</strong>
    Lithium, Serium, Rubium, Pheno, Jasmium, Actinide, Dentol, Dystopium, Pentyne, Fusio-Fissio, Magnode, Magnalium, Acronyl, Haematode, Gasmium, Foilus, Xernium, Xernon, Ricardium, Sternus, Sporada, Rhylum.

    <strong class="text-primary text-2xl font-Plex pt-4 block">Random Names</strong>
    Dong, Onco, Terminus, Foci, Picotus, Causon, Cosawn, Fuzzet, Rodenta, Fellus, Cattery, Squite.

    <strong class="text-primary text-2xl font-Plex pt-4 block">Sanskrit Names</strong>
    Jnana (Knowledge/gyan), Sangraha (whole/compilation), Param Mitra (Best Friend), Sarathi (Charioteer), Pravaha (Flow), Aarohan (Ascend), Aikya (one/united), Srijan (Creation), Yatharth (Reality), Vibhuti (sacred ash), Anugraha (grace), Chakravyuh (strategic formation), Vyom (sky), Vimarsh (Analysis), Vicharana (Contemplation), Sanhar (Genocide/Kill).

    <strong class="text-primary text-2xl font-Plex pt-4 block">Urdu Names</strong>
    Zarafat (Wit), Riwayat (Tradition), Tajassus (Curiosity), Tabeer (Interpretation), Dastak (Knock), Razdan (Secret), Hunar (Skill), Jazbaat (Emotions), Musafir (Traveller).
{% endblock para %}
