{% extends 'jijblogformat.html' %}
{% block title %}Resource List{% endblock title %}

{% block heading %}
    Resource List
{% endblock heading %}

{% block info %}2 min Read{% endblock info %}

{% block para %}
    
    <strong class="text-secondary underline underline-secondary text-2xl font-Plex pt-4 block">Disclaimer</strong>
    I'm neither sponsored nor associated with any of the provided resources/websites/books as of the date of writing this blog.

    <strong class="text-primary text-2xl font-Plex pt-4 block">Learning to Code</strong>
    <a href="https://pll.harvard.edu/course/cs50-introduction-computer-science" class="underline block hover:text-primary hover:underline-primary my-1">CS50 by Harvard</a>
    <a href="https://www.freecodecamp.org/" class="underline block hover:text-primary hover:underline-primary my-1">Free Code Camp</a>
    <a href="https://automatetheboringstuff.com/" class="underline block hover:text-primary hover:underline-primary my-1">Automate The Boring Stuff with Python</a>
    <a href="https://wiki.python.org/moin/BeginnersGuide/NonProgrammers" class="underline block hover:text-primary hover:underline-primary my-1">Python For Non-Programmers</a>
    <a href="https://www.edx.org/learn/computer-science/massachusetts-institute-of-technology-introduction-to-computer-science-and-programming-using-python" class="underline block hover:text-primary hover:underline-primary my-1">MITx Python Course</a>
    <a href="https://realpython.com/" class="underline block hover:text-primary hover:underline-primary my-1">Real Python</a>
    <a href="https://realpython.com/podcasts/rpp" class="underline block hover:text-primary hover:underline-primary my-1">Real Python Podcast</a>
    <a href="https://www.codecademy.com/" class="underline block hover:text-primary hover:underline-primary my-1">Codecademy</a>
    <a href="https://www.w3schools.com/" class="underline block hover:text-primary hover:underline-primary my-1">w3schools</a>
    <a href="https://learnpython.org/" class="underline block hover:text-primary hover:underline-primary my-1">Learn Python.org</a>

    <strong class="text-primary text-2xl font-Plex pt-4 block">Web Dev</strong>
    <a href="https://www.oreilly.com/library/view/flask-web-development/9781491947586/" class="underline block hover:text-primary hover:underline-primary my-1">Flask Web Development</a>
    <a href="https://www.djangoproject.com/start/" class="underline block hover:text-primary hover:underline-primary my-1">Django</a>
    <a href="https://www.learn-js.org" class="underline block hover:text-primary hover:underline-primary my-1">Learn-js</a>
    
    <strong class="text-primary text-2xl font-Plex pt-4 block">AI/ML</strong>
    <a href="https://www.deeplearning.ai/courses/" class="underline block hover:text-primary hover:underline-primary my-1">Deep Learning AI course</a>

    <strong class="text-primary text-2xl font-Plex pt-4 block">Competitive Programming</strong>
    <a href="https://www.hackerrank.com/" class="underline block hover:text-primary hover:underline-primary my-1">Hackerrank</a>
    <a href="https://www.hackerearth.com/" class="underline block hover:text-primary hover:underline-primary my-1">Hackerearth</a>
    <a href="https://www.codewars.com/" class="underline block hover:text-primary hover:underline-primary my-1">Codewars</a>
    <a href="https://leetcode.com/" class="underline block hover:text-primary hover:underline-primary my-1">LeetCode</a>
{% endblock para %}
