{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}

    <div class="mt-40 md:mt-64 mx-auto w-[80%] md:w-[50%] md:text-left flex flex-col text-center content-center md:flex-row space-y-[10%] md:space-x-[10%] md:space-y-0">
        <img src="/static/pic.gif" class="rounded-full mx-auto md:my-auto w-52 aspect-square object-cover transition duration-300 hover:translate-x-4 hover:-translate-y-4 shadow-xl shadow-neutral"/>
        
        <div class="flex flex-col text-center md:text-left mx-auto my-0 md:my-auto md:mx-0 space-y-4">
            
            <h2 class="text-2xl font-Plex font-bold text-foreground">Hi! I'm Cheko</h2>
            
            <p class="text-lg font-Plex font-thin text-foreground">I am a full stack web dev, pythoneer and student. I slurp coffe, listen to lofi, love physics, practice taekwando, read books.</p>
            
            <button class="w-32 transition duration-300 block text-center mx-auto md:mx-0 hover:translate-x-2 hover:-translate-y-2 hover:shadow-lg hover:shadow-neutral bg-primary text-disabled font-bold py-2 px-4 rounded-lg">
                <a href="mailto:jijdev@proton.me" class="text-center">Contact Me</a>
            </button>
        
        </div>

    </div>

{% endblock body %}
