{% extends 'base.html' %}

{% block body %}
<div class="mx-auto w-[90%] md:mx-auto md:w-[50%]">
    
    <h1 class="font-Barlow text-4xl mt-32 text-primary ">
        {% block heading %}{% endblock heading %}
    </h1>

    <h2 class="font-Grotesk text-lg font-thin text-secondary border-b-2 border-b-secondary">
        {% block info %}{% endblock info %}
    </h2>

    <p class="font-Plex font-thin text-foreground text-lg mt-10">
        {% block para %}{% endblock para %}
    </p>

</div>
{% endblock body %}

<!--

Imp Considerations:

    Highlight: <strong class="text-primary">adipisicing elit</strong>
    Heading: <h1 class="text-primary text-2xl font-Plex font-bold mt-4"></h1>

-->
