{% extends 'base.html' %}
{% block title %}ToDo{% endblock title %}

{% block body %}

<div class="mt-40 w-[90%] md:w-[40%] mx-auto p-4 rounded-lg shadow-xl shadow-neutral bg-backgroundAlt">
    <h1 class="text-4xl text-primary font-Barlow broder border-b-2 border-b-primary pb-2">2024</h1>

    <ul>
        <li class="text-lg text-primary py-1 font-Plex">&#10003; Create this site</li>
        <li class="text-lg text-primary py-1 font-Plex">Learn Godot</li>
        <li class="text-lg text-primary py-1 font-Plex">Learn Pixel Art</li>
        <li class="text-lg text-primary py-1 font-Plex">Make a Platformer</li>
    </ul>
</div>

{% endblock body %}
