{% extends 'base.html' %}
{% block title %}ToDo{% endblock title %}

{% block body %}

<div class="mt-40 w-[90%] md:w-[40%] mx-auto p-4 rounded-lg shadow-xl shadow-neutral bg-backgroundAlt">
    <h1 class="text-4xl text-primary font-Plex broder border-b-2 border-b-primary pb-2">2024</h1>

    <ul>
        <li class="text-lg text-primary py-1 font-Plex">&#10003; Create this site</li>
        <li class="text-lg text-primary py-1 font-Plex">Password Generator</li>
        <li class="text-lg text-primary py-1 font-Plex">Start an open source project</li>
        <li class="text-lg text-primary py-1 font-Plex">Learn rust</li>
        <li class="text-lg text-primary py-1 font-Plex">Write a Malware in rust</li>
        <li class="text-lg text-primary py-1 font-Plex">AoC in either Rust or Python</li>
        <li class="text-lg text-primary py-1 font-Plex">Make an online weather app</li>
    </ul>
</div>

{% endblock body %}